@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    &.bold {
        font-weight: 500;
    }
}